<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<servlet>-->
    <!--<servlet-name>KmeansResultServlet</servlet-name>-->
    <!--<servlet-class>com.servlet.GetKmeansResultServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>KmeansResultServlet</servlet-name>-->
    <!--<url-pattern>/kmeansresult</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>MainGraphDataServlet</servlet-name>
        <servlet-class>com.servlet.GetMainGraphDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainGraphDataServlet</servlet-name>
        <url-pattern>/maingraphdata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneralAttrOfSeries</servlet-name>
        <servlet-class>com.servlet.GetGeneralAttrOfSeriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralAttrOfSeries</servlet-name>
        <url-pattern>/generalattr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetailSaleOfSeriesServlet</servlet-name>
        <servlet-class>com.servlet.GetDetailSaleOfSeriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailSaleOfSeriesServlet</servlet-name>
        <url-pattern>/detailsaleofseries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AttrOfStyleServlet</servlet-name>
        <servlet-class>com.servlet.GetAttrOfStyleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttrOfStyleServlet</servlet-name>
        <url-pattern>/attrofstyle</url-pattern>
    </servlet-mapping>
</web-app>